$cursive-font: 'Lobster', cursive;
$margin-bottom: 25px;
$guess-color-miss: white;
$guess-color-win: white;
$guess-color-default: gray;
$shadow: 0 8px 6px -6px black;
$guess-padding-default: 50px;
$guess-padding-status: 25px;


#game-title {
	margin-bottom: $margin-bottom;
	& h1 {
		font-family: $cursive-font;
		font-size: 90px;
	}
}

#submit-area {
	margin-bottom: $margin-bottom;
}

#guesses {
	margin-bottom: $margin-bottom;
	& div div {
		float: left;
		display: inline-block;
		font-family: $cursive-font;	
		font-size: 30px;
		border: solid black;
		width: 150px;
		height: 150px;
		margin: 5px;
		box-shadow: $shadow;
		position: relative;
		&.guess {
			color: $guess-color-default;
			padding-top: $guess-padding-default;
		}
		&.warm {
			background-color: fuchsia;
			color: $guess-color-miss;
			padding-top: $guess-padding-status;
		}
		&.cold {
			background-color: aqua;
			color: $guess-color-miss;
			padding-top: $guess-padding-status;
		}
		&.win {
			background-color: lime;
			color: $guess-color-win;
			padding-top: $guess-padding-status;
		}
	}
}

#escape-buttons {
	margin-bottom: $margin-bottom;
}
