#game-title {
  margin-bottom: 25px; }
  #game-title h1 {
    font-family: 'Lobster', cursive;
    font-size: 90px; }

#submit-area {
  margin-bottom: 25px; }

#guess-input {
  margin-bottom: 10px;
  font-size: 44px;
  padding: 25px 0;
  width: 400px;
  color: red; }

#guesses {
  margin-bottom: 25px; }
  #guesses div div div div {
    display: inline-block;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    border: solid black;
    width: 150px;
    height: 150px;
    margin: 5px;
    box-shadow: 0 8px 6px -6px black;
    position: relative; }
    @media screen and (max-width: 685px) {
      #guesses div div div div {
        width: 100px;
        height: 100px;
        font-size: 20px; } }
    #guesses div div div div.guess {
      color: gray;
      padding-top: 50px; }
      @media screen and (max-width: 685px) {
        #guesses div div div div.guess {
          padding-top: 35px; } }
    #guesses div div div div.warm {
      background-color: fuchsia;
      color: white;
      padding-top: 25px; }
      @media screen and (max-width: 685px) {
        #guesses div div div div.warm {
          padding-top: 17px; } }
    #guesses div div div div.cold {
      background-color: aqua;
      color: white;
      padding-top: 25px; }
      @media screen and (max-width: 685px) {
        #guesses div div div div.cold {
          padding-top: 17px; } }
    #guesses div div div div.win {
      background-color: lime;
      color: white;
      padding-top: 25px; }
      @media screen and (max-width: 685px) {
        #guesses div div div div.win {
          padding-top: 17px; } }

#escape-buttons {
  margin-bottom: 25px; }
