body {
  background-color: #FFFFCC; }

.container {
  width: 100%;
  margin-left: 0;
  margin-right: 0; }

#game-title {
  padding-bottom: 10px;
  margin-bottom: 25px;
  background-color: #9639AD;
  text-shadow: 0px 2px 3px #555555;
  color: #FFFFFF;
  overflow: visible; }
  @media screen and (max-width: 485px) {
    #game-title {
      height: 50px;
      margin-bottom: 10px; } }
  #game-title h1 {
    -webkit-transform: translateY(40px);
    font-family: 'Lobster', cursive;
    font-size: 140px;
    z-index: 100; }
    @media screen and (max-width: 860px) {
      #game-title h1 {
        font-size: 90px;
        -webkit-transform: translateY(32px); } }
    @media screen and (max-width: 565px) {
      #game-title h1 {
        font-size: 60px;
        -webkit-transform: translateY(28px); } }
    @media screen and (max-width: 485px) {
      #game-title h1 {
        font-size: 45px;
        -webkit-transform: translateY(-14px); } }

#submit-area {
  margin-bottom: 25px; }

#guess-input {
  margin-bottom: 10px;
  font-size: 44px;
  padding: 25px 0;
  width: 400px;
  color: #FF2F7C;
  background-image: url('../guessing-game/images/question-mark-background.png'); }
  @media screen and (max-width: 565px) {
    #guess-input {
      font-size: 26px;
      width: 300px; } }
  @media screen and (max-width: 485px) {
    #guess-input {
      font-size: 26px;
      width: 250px;
      padding: 5px 0;
      margin-bottom: 0; } }

#guesses {
  margin-bottom: 25px; }
  #guesses div div div div {
    background-color: #FFFFFF;
    display: inline-block;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    border: solid black;
    width: 150px;
    height: 150px;
    margin: 5px;
    box-shadow: 0 8px 6px -6px black;
    /*position: relative;*/ }
    @media screen and (max-width: 685px) {
      #guesses div div div div {
        width: 100px;
        height: 100px;
        font-size: 20px; } }
    @media screen and (max-width: 485px) {
      #guesses div div div div {
        width: 65px;
        height: 65px;
        font-size: 13px;
        margin: 5px 1px;
        border: solid black 1px; } }
    #guesses div div div div.guess {
      color: #555555;
      text-shadow: 0px 2px 3px #FFFFCC;
      padding-top: 25px;
      background-image: url('../guessing-game/images/question-mark-background.png'); }
      @media screen and (max-width: 685px) {
        #guesses div div div div.guess {
          padding-top: 17px; } }
      @media screen and (max-width: 485px) {
        #guesses div div div div.guess {
          padding-top: 9px; } }
    #guesses div div div div.warm {
      background-color: #FF2F7C;
      text-shadow: 0px 2px 3px #555555;
      color: #FFFFFF;
      padding-top: 25px;
      background-image: none; }
      @media screen and (max-width: 685px) {
        #guesses div div div div.warm {
          padding-top: 17px; } }
      @media screen and (max-width: 485px) {
        #guesses div div div div.warm {
          padding-top: 9px; } }
    #guesses div div div div.cold {
      background-color: #00ADBC;
      text-shadow: 0px 2px 3px #555555;
      color: #FFFFFF;
      padding-top: 25px;
      background-image: none; }
      @media screen and (max-width: 685px) {
        #guesses div div div div.cold {
          padding-top: 17px; } }
      @media screen and (max-width: 485px) {
        #guesses div div div div.cold {
          padding-top: 9px; } }
    #guesses div div div div.win {
      background-color: #A6F600;
      text-shadow: 0px 2px 3px #555555;
      color: #FFFFFF;
      padding-top: 25px;
      background-image: none; }
      @media screen and (max-width: 685px) {
        #guesses div div div div.win {
          padding-top: 17px; } }
      @media screen and (max-width: 485px) {
        #guesses div div div div.win {
          padding-top: 9px; } }

#escape-buttons {
  margin-bottom: 25px; }

.btn-danger {
  background-image: linear-gradient(#ff43b1, #FF2F7C);
  background-color: #FF2F7C;
  border-color: #FF2F7C; }

.btn-warning {
  background-image: linear-gradient(#ffcb2d, #E79822);
  background-color: #E79822;
  border-color: #E79822; }

.btn-default {
  background-image: linear-gradient(#00e7fb, #00ADBC);
  background-color: #00ADBC;
  border-color: #00ADBC;
  color: #FFFFFF; }
  .btn-default:hover {
    color: #FFFFFF; }
  .btn-default:active {
    color: #555555; }

footer {
  margin: 50px 0; }

.debug {
  visibility: hidden;
  position: absolute; }
