#game-title {
  margin-bottom: 25px; }
  #game-title h1 {
    font-family: 'Lobster', cursive;
    font-size: 90px; }

#submit-area {
  margin-bottom: 25px; }

#guesses {
  margin-bottom: 25px; }
  #guesses div div div {
    display: inline-block;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    border: solid black;
    width: 150px;
    height: 150px;
    margin: 5px;
    box-shadow: 0 8px 6px -6px black;
    position: relative; }
    #guesses div div div.guess {
      color: gray;
      padding-top: 50px; }
    #guesses div div div.warm {
      background-color: fuchsia;
      color: white;
      padding-top: 25px; }
    #guesses div div div.cold {
      background-color: aqua;
      color: white;
      padding-top: 25px; }
    #guesses div div div.win {
      background-color: lime;
      color: white;
      padding-top: 25px; }

#escape-buttons {
  margin-bottom: 25px; }
